.navStyle{
    height: 200px;
    background-color: rgba(0, 0, 0, 0.26);
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    text-align: center;
    justify-content: center;
}
.navItem{
    width: fit-content;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
a{
    text-decoration:none ;
}
.navItem a:hover{
    color: black;
    background: rgba(245, 183, 84, 0.609);
    border-radius: 10px;
    padding: 20px;
    text-transform: uppercase;
}

.navDrop{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin: auto;
}
.navDrop:hover{
    color: black;
    background: rgba(245, 183, 84, 0.609);
    text-transform: uppercase;
}